body
{
	font-size: 62.5%;
	font-family: "Trebuchet MS", "Arial", "Helvetica", "Verdana", "sans-serif";
}

.ui-draggable, .ui-droppable {
	background-position: top;
}

table {
	font-size: 1em;
}

#toolbar {
	position: fixed;
	top:10px;
	left:280px;
	padding: 4px;
	display: inline-block;
}
#accordion
{
	position: fixed;
	top:10px;
	left:10px;
	width: 260px;
}

.renderContainer
{
	position: fixed;
	top: 80px;
	left: 280px;
	border: 3px dashed #aaa;
	border-radius: 5px;
}

.configPanel
{
	float:left;

	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	margin-left: 5px;	
}

canvas
{
	float:left;

}

#dummyEnd
{
	clear: left;
}